body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #FBFCF3;
}

header {
    padding-top: 8px;
    margin-bottom: 15px;
}

.logo {
    margin: 0 auto;
    text-align: center;
    width: 248px;
}

.logo-img {
    width: 248px;
}

.logo-text {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}



.catalog {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
}



.item {
    margin: 0 auto;
    max-width: 348px;
    background-color: white;
    box-shadow: 0px 1px 29px -4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 12px;

}

.item-photo-wrapper {
    height: 363px;
    overflow: hidden;
    border-radius: 16px;
}

.item-photo {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.item-info {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 12px;
}

.item-name {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}

.item-price {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.item-price::after {
    content: '\20B4';
    margin-left: 5px;
}

.item-btn {
    display: block;
    background: #212121;
    border-radius: 20px;
    height: 51px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    user-select: none;
    line-height: 51px;
    color: #FBFCF3;

    text-align: center;
}