body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('../img/index-bg.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

header {
    background: #FBFCF3;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
}

.logo {
    margin: 0 auto;
    text-align: center;
    width: 248px;
}

.logo-img {
    width: 248px;
}

.logo-text {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}


.content {
    position: relative;
    height: calc(100vh - 95px);
}

.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 250px;
    height: 70px;
    font-size: 24px;
    line-height: 70px;
    user-select: none;
    background: #FBFCF3;
    border-radius: 20px;
    color: #212121;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 79px;
}
